body {

    font-family: Montserrat, sans-serif;
}




#home-page {
    background-image: url("./Images/bg-home.jpg");
}

#individual-form {
    background-image: url("./Images/bg-individual.jpg");

}

#family-form {
    background-image: url("./Images/bg.family.jpg");
}